@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* светлая тема */
  --foreground: #171717;
}

.dark {
  --background: #171717; /* тёмная тема */
  --foreground: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

html {
  @apply bg-[var(--background)] text-[var(--foreground)];
}

body {
  flex: 1;
}

main {
  flex: 1;
  padding-bottom: 50px; /* Отступ снизу для футера */
}

footer {
  margin-top: auto; /* Плавно размещаем футер внизу */
  padding: 20px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

footer a {
  text-decoration: none;
  color: #1d4ed8;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #3b82f6;
}


@media (max-width: 1290px) {
  main {
    padding: 0;
    padding: 0;
  }
}

@media (max-width: 650px) {
  main {
    padding: 0;
    padding: 0;
  }
}